body {
  margin: 0 5%;

  font-family: "Work Sans", sans-serif;

  /* background-color: red; */
}
/* HEADER */
header {
  padding: 30px 0;
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
}
.icon {
  font-size: 1.3em;
}
.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  margin: 0 10px;
}

/*  //Banner// */

.banner-container {
  text-align: center;
  width: 100%;
}
.banner-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.banner-details {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
.btn {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  /* margin-top: ; */
  padding: 15px 20px;
  background-color: #ff900e;
}
header img {
  width: 100%;
  background-size: cover;
}

/* MAIN */

.feature-container {
  margin-top: 60px;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.image-box {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feature-details {
  margin: 0 auto;
}

.feature-details-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 380px;
  height: 160px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}
/* Facts Container */
.fact-cards {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.fact-card {
  margin: 5px 10px;
  padding: 20px 20px;
  border: 1px solid #ff900e;
  border-radius: 15px;
  width: 180px;
  height: auto;
  text-align: center;
}
.fact-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 8px 12px rgba(38, 38, 38, 0.2);
  background-color: #fff4e7;
}

/* Sponsors Container */
.text-box {
  margin-top: 15px;
  text-align: center;
}
.sponsor-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
/* Subscription Form */
.form-container {
  margin: 15px 0;
}
.container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff4e7;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #fff4e7;
  color: black;
  border: none;
  font-weight: 700;
}

input[type="submit"]:hover {
  background-color: #04aa6d;
  color: white;
}
/* -------------------Footer----------------- */
.copyright {
  text-align: center;
}
/* MEEDDDIAAAA QQQUERIES */
@media screen and (max-width: 688px) {
  body {
    margin: 0 auto;
    max-width: 688px;
    font-family: "Work Sans", sans-serif;

    /* background-color: red; */
  }
  nav {
    flex-direction: column;
  }
  .nav-items {
    justify-content: center;
  }
  .icon {
    text-align: center;
  }
  .feature-container {
    margin-top: 30px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr;
  }

  .image-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: center;
  }
  .image-box img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .feature-container {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    display: block;
  }
  .feature-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
  }

  .fact-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  .feature-img {
    width: 90%;
  }
  .sponsor-icons {
    margin-top: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sponsor-icons img {
    margin: 10px;
    height: 30px;
  }
}
